.header__link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin-right: 36px;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.header__link:hover {
    opacity: .6;
    transition: all .3s ease-in-out;
}