---
layout: layouts/base.njk
title: Главная
---

<h1 class="main__heading">
    Избирательный&nbsp;штаб для выдвижения
    независимых&nbsp;кандидатов
</h1>

<section class="office-team">
    <p class="office-team__description">Команда «Штаба кандидатов» помогает кандидатам с близкими для нас взглядами избраться в законодательные органы власти. 
    Наша избирательная кампания предоставляет возможность участвовать в легальных электоральных процессах и вносить свой вклад в укрепление общественных институтов. 
    У нас получается побеждать на выборах в неравных условиях, и мы хотим распространить свой опыт дальше. </p>
    <div class="office-team__members-container">
        <figure class="office-team__card">
            <img class="office-team__card-image" src="https://shtab.kisiev.ru/wp-content/uploads/2023/07/4photo_2023-07-30_15-00-17-640x395.jpg">
            <figcaption>
                <p class="office-team__card-name">Дмитрий Кисиев</p>
                <p class="office-team__card-position">основатель «Штаба кандидатов»</p>
            </figcaption>
        </figure>
        <figure class="office-team__card">
            <img class="office-team__card-image" src="https://shtab.kisiev.ru/wp-content/uploads/2023/07/foto-artemev1-640x395.jpg">
            <figcaption class="office-team__card-caption">
                <p class="office-team__card-name">Игорь Артемьев</p>
                <p class="office-team__card-position">глава «Штаба кандидатов»</p>
            </figcaption>
        </figure>
        <figure class="office-team__card">
            <img class="office-team__card-image" src="https://shtab.kisiev.ru/wp-content/uploads/2023/07/foto-artemev1-640x395.jpg">
            <figcaption class="office-team__card-caption">
                <p class="office-team__card-name">Игорь Артемьев</p>
                <p class="office-team__card-position">глава «Штаба кандидатов»</p>
            </figcaption>
        </figure>
    </div>
</section>

<section class="join">
    <p class="join__description">Успешно провели муниципальную кампанию-2022.
    Переголосовали ДЭГ и избрали независимых депутатов</p>
    <a class="join__link" href="/join/">Присоединиться</a>
</section>

<section class="info">
    <div class="info__wrapper">
        <h2 class="info__heading">Единый день голосования пройдет в России в сентябре 2023 года и станет крупнейшим за несколько лет</h2>
        <ol class="info__list">
            <li class="info__list-item">Если не пойдете вы, то возможно не будет хороших кандидатов, за которых могли проголосовать ваши соседи и друзья. Вы можете представлять свои идеи и убеждения, чтобы улучшить жизнь людей, которым вы хотите помогать. Ваша роль может оказаться решающей для защиты свободы и демократии в нашем обществе;</li>
            <li class="info__list-item">Большое количество кандидатов, выставленных на выборах, реализуют принцип политического плюрализма. Когда вы участвуете в выборах, вы привлекаете внимание к важным проблемам и вопросам, которые нуждаются в решении;</li>
            <li class="info__list-item">Выборы – бесценный опыт, который дает понимание многих процессов. Если вы побеждаете, вы получаете возможность принимать решения, которые влияют на жизнь людей в вашем городе. Этот опыт будет мотивирующим, особенно если вы стремитесь к лидерству и влиянию.</li>
        </ol>
    </div>

    <div class="info__wrapper">
        <h2 class="info__heading">Без наблюдателей на избирательных участках — ничего не получится</h2>
        <ol class="info__list">
            <li class="info__list-item">Наблюдатели – защищают голоса, которые были привлечены во время кампании. Выборы являются одним из самых важных процессов в любом демократическом обществе. Они определяют, кто будет представлять интересы населения на всех уровнях власти — от муниципальной до федеральной. В связи с этим, следить за ходом голосования и быть наблюдателем является крайне важным и ответственным действием для каждого гражданина;</li>
            <li class="info__list-item">Работа наблюдателя способствует правильному учету волеизъявления избирателей при формировании представительного органа власти или самоуправления. Вы можете быть свидетелем исторических моментов, когда народ выбирает своих лидеров и принимает важные решения, которые затрагивают жизнь каждого гражданина. Ваше участие поможет убедиться, что голос каждого избирателя будет учтён;</li>
            <li class="info__list-item">Само присутствие честных наблюдателей мотивирует сотрудников избирательной комиссии работать ответственнее. Наблюдатели на выборах могут вдохновить других граждан на активное участие в выборах. Ваш пример может стать стимулом для других людей, проявить активную гражданскую позицию и прийти на выборы. Это важно, ведь каждый голос имеет значение.</li>
        </ol>
    </div>

</section>

<section  class="subscribe">
    <a class="subscribe__link" href="https://t.me/shtabkisiev">Подписывайтесь на наш телеграм-канал</a>
</section>